.timeSlotSelector {
    margin-bottom: 20px;
    background-color: var(--color-background);
    padding: 16px;
    border-radius: 8px;

    &__label {
        font-weight: 500;
        margin-bottom: 12px;
        color: var(--color-text);
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__button {
        min-width: 120px;
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }
         // Добавьте эти стили для кнопки типа primary
    &[type="primary"],
    &[ant-click-animating-without-extra-node]:after {
      background-color: var(--color-primary) !important;
      border-color: var(--color-primary) !important;
    }
    }
}

@media (max-width: 768px) {
    .timeSlotSelector {
        &__buttons {
            flex-direction: column;
        }

        &__button {
            width: 100%;
        }
    }
}